html, body{ background-color:white; }	

body
{ 
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	width:100%;
	background-size:cover;
	height:100%;
	min-height:1000px;
	overflow:hidden;
	font-family: 'quicksandlight', Univers, Univers;
	color:black;
}

#greenRow {
with: 100px;
	height: 60px;
margin-top: 60px;
	margin-bottom: 60px;
background-color: #91b53d;
}

h2{
  width: 500px;
  color: black;
  background-color: none;
  border:  0.5px solid black;
  border-radius: 0 0em 0em 0em;
  margin:  20px auto;
  padding: 2em;
	font-size: 12px;
	font-family: Times, "Times New Roman", "serif"
}

h1{
  width: 20%;
  position:absolute;
  text-align:left;
	font-size:130px;
	letter-spacing:-20px;
  margin-left: 10%; 
	line-height:80%
}

h3{

	width: 500px;
  color: black;
  background-color: none;
  border:  0.5px solid black;
  border-radius: 0 0em 0em 0em;
  margin:  20px auto;
  padding: 2em;
	font-size: 12px;
	font-family: Times, "Times New Roman", "serif";
	position: absolute
}

#fps
{
	margin-top:5px;
	margin-left:35px;
}

a
{
	color: black;
	text-decoration: none;
}

a:hover
{
	color:rgba( 0, 0, 255 );
}

/* hardware accelatator class */	
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	
	#contentContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	#carouselContainer
	{
		position:absolute;
		margin-left:-500px;
		margin-top:-500px;
		left:50%;
		top:50%;
		width:1000px;
		height:1000px;
	}
	
	.carouselItem
	{
		width:320px;
		height:130px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;
	}
	
	.carouselItemInner
	{
		width:320px;
		height:130px;
		position:absolute;
		background-color:none
		border:10px solid rgba(0, 0, 0);
		color:white;
		font-size:72px;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		text-align:center;
		padding-top:50px;
		
	}

